@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --orange : rgb(242, 193, 78);
    --winning-blocks: #2d414b;
}

h1{
    font-size: 54px;
    text-transform: uppercase;
}

body{
    color : var(--orange);
    font-family: 'Finger Paint', sans-serif;
}

.container{
    padding: 40px;
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #37505c;
}

#gameboard{
    width : 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color : var(--orange);
    font-size : 120px;
    border-right : 2px solid var(--orange);
    border-bottom : 2px solid var(--orange);
}

.box:nth-child(3n){
    border-right: none;
}

.box:nth-child(6) ~ .box{
    border-bottom : none;
}

button{
    margin-top : 50px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color : #333;
    font-size: 16px;
    transition: 200ms transform;
    font-weight: 600;
    border-color : var(--orange);
    box-shadow : 0px 0px 10px rgb(0, 0, 0, 0.5);
}

button:hover{
    cursor: pointer;
    transform: translateY(-2px);
    color :rgb(35, 34, 34)
}

.box:hover{
    cursor :pointer;
}

.hide{
    display: none;
}

.hideGame{
    display: none;
}

#msg{
    font-size: 54px;
}

.msg-container{
    margin : 10px 0px;
    height : 20vh;
}

#msg{
    color : #F6FFF8;
}